.container {
    padding: 0;
}

.logo {
    position: relative;
    width: 450px;
    height: 439px;
    background: #FFFFFF;
}

.main-header {
    position: relative;
    background-size: cover;
    min-height: 450px;
    /* height: 450px; */
  }

.carousel {
    /* min-height: 450px; */
    width: 100%;
    background: linear-gradient(241.32deg, rgba(96, 29, 144, 0.13) 36.14%, rgba(96, 29, 144, 0.13) 36.14%, rgba(0, 0, 111, 0.49) 76.54%);
    mix-blend-mode: multiply;
}

.buttonContact {
    width: 160px;
    height: 40px;
    display: block;
    margin: auto;
    text-align: center;
    background: linear-gradient(259.91deg, #00006F -25.41%, #601D90 86.41%);
    box-shadow: 0px 9px 24px rgba(57, 26, 16, 0.13);
    border-radius: 90px;
    line-height: 40px;
    margin-bottom: 20px;
}

#adquirir{
    margin-top: 30px;
    background: linear-gradient(259.91deg, #00006F -25.41%, #601D90 86.41%);
    box-shadow: 0px 9px 24px rgba(57, 26, 16, 0.13);
}

.imgours {
    position: absolute;
    width: 187px;
    height: 220px;
    margin-left: -220px;
    margin-top: 175px;
    background: linear-gradient(212.51deg, rgba(96, 29, 144, 0.39) 11.47%, rgba(0, 0, 111, 0.45) 65.28%);
    mix-blend-mode: multiply;
}

.carousel {
    /* min-height: 450px; */
    width: 100%;
    background: linear-gradient(241.32deg, rgba(96, 29, 144, 0.13) 36.14%, rgba(96, 29, 144, 0.13) 36.14%, rgba(0, 0, 111, 0.49) 76.54%);
    mix-blend-mode: multiply;   
}

.textoContacto {
    margin-top: 10px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #601D90;
}

.contact {
    border: none;
    background: #FCFBFF;
}

#modulo .card .card-header{
    background: #FCFBFF;
    padding: 0px;
    
}



#modulo .card .card-header .nav .nav-item .nav-link{
    color: #00006F;
}









#contacto{
    margin-top: 30px;
}



.hrContacto{    
    width: 78.5px;
    border: 1px solid #AA75D0;
}

.hrFooter{
    width: 100%;
    border: 1px solid #AA75D0;
}



#redSocial{
    padding:20px;
}



.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}



 /* Small devices (landscape phones, 576px and up) */
@media  only screen and (max-width: 685px){

    .hiddenMobile{
        display: none !important;
    }
    .dropleft {
        float: right;
        background: linear-gradient(259.91deg, #00006F -25.41%, #601D90 86.41%);
        box-shadow: 0px 9px 24px rgba(57, 26, 16, 0.13);
    }
    .dropleft .dropdown-menu .nav-item .nav-link {
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        float: right;
        margin-right: 20px;
    } 
    
    .letra {
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    .summary {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 4%;
        margin-bottom: 5%;
        color: #000000;
    }

    .nosotros {
        width: 100%;
        min-height: 380px;
    }

    .punto {
        width: 5px;
        height: 5px;
        margin-left: 28px;
        margin-top: 27px;
        background: #601D90;
    }
    .our {        
        margin-left: 45px;
        margin-top: -28px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.22em;
        color: #AA75D0;
    }

    .line {
        width: 78.5px;
        margin-left: 130px;
        margin-top: -25px;
        border: 1px solid #601D90;
    }

    .conocenos {
        margin-left: 28px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #00006F;
    }

    .texto {
        margin-left: 34px;
        margin-right: 30px;
        top: 179px;
        bottom: 78.58%;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        text-align: justify
    }

    #servicios .card{
        width: 90%;
        height: 107px;
        margin-left: 28px;
        border: 1px solid #AA75D0;
    }

    #servicios .card .card-body .card-title{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #601D90;
        margin-left: 80px;
    }
    
    #servicios .card .card-body .card-subtitle{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #00006F;
        margin-left: 80px;
    }
    
    #servicios .card .card-body img{
      position: absolute;
      top: 26px;
      left: 16px;
    }

    .juntemonos{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #601D90;
        margin-bottom: 5px;
    }

    .lineBeneficio{
        width: 78.5px;
        margin-left: 137px;
        margin-top: -25px;
        border: 1px solid #601D90;
    }

    #beneficio{
        margin-top: 25px;
        background: #FCFBFF;
    }

    .sistema{
        padding: 20px 35px 20px 53px;    
        /* padding: top right bottom left; */
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;    
        color: #00006F;
    }
    
    .sistema li{
        padding-bottom: 10px;
    }

    .lineResponsive{
        width: 78.5px;
        margin-left: 150px;
        margin-top: -25px;
        border: 1px solid #601D90;    
    }
    
    .imgSistema{
        display: block;
        margin: auto;
        margin-left: 20px;
    }

    #modulo .card{
        background: #FCFBFF;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.03);
        width: 100%;
        margin-top: -60px;        
    }

    .puntoAdquirir{
        width: 5px;
        height: 5px;
        margin-left: 29px;
        margin-top: 40px;
        background: #ffffff;
    }

    .adquirir{
        margin-left: 45px;
        margin-top: -27px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.22em;
        color: #AA75D0;
    }

    .lineAdquirir{
        width: 78.5px;
        margin-left: 125px;
        margin-top: -25px;
        border: 1px solid #AA75D0;    
    }

    .howAdquirir {
        margin-left: 28px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
    }

    #modificarpadding{
        padding: 10px 39px 37px 39px;
    }

    .textAdquirir{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
    }

    .lineContacto{
        width: 78.5px;
        margin-left: 155px;
        margin-top: -25px;
        border: 1px solid #AA75D0;    
    }

    #modiContacto {
        margin-top: -5px;
        margin-bottom: 30px;
    }

    .redes {
        width: 50px;
         height: 50px;
         -moz-border-radius: 50%;
         -webkit-border-radius: 50%;
         border-radius: 50%;
        background: linear-gradient(259.91deg, #00006F -25.41%, #601D90 86.41%);
        box-shadow: 0px 9px 24px rgba(57, 26, 16, 0.13);
    }

    #linkedin{
        position: absolute;
        left: 55%;
        top: -10px
    }
    
    #facebook{
        position: absolute;
        left: 30%;
        top: -10px
    }  

    #modulo .card .card-header .nav .nav-item{
        border: 1px solid rgba(125, 47, 181, 0.3);
        /* min-width: 16.66%;  */
        color: #00006F;
    }      

    .carousel .carousel-inner .carousel-item img{
        width: 100%;
        height: 255px;
    }
    /* .carousel .carousel-indicators li {
        border-radius: 50px;
    } */
}


/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 685px)
  {
    .hiddenDesktop{
        display: none !important;
    }

    .navbar {
    float: right;
    width: 66.65%;
    background: linear-gradient(259.91deg, #00006F -25.41%, #601D90 86.41%);
    box-shadow: 0px 9px 24px rgba(57, 26, 16, 0.13);
    }
    .navbar .nav-item .nav-link {
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    } 
    
    .letra {
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 23px;
        text-align: justify;
    }

    .summary {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 6.5%;
        margin-bottom: 7%;
        color: #000000;
    }
    
    .nosotros {
        width: 96%;
        min-height: 460px;
        margin-left: 4%;
        margin-top: -10px;
        
    }

    
    .punto {
        width: 5px;
        height: 5px;
        margin-left: 10px;
        margin-top: 79px;
        background: #601D90;
    }

    .our {
        margin-left: 30px;
        margin-top: -31px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.22em;
        color: #AA75D0;
    }

    .line {
        width: 78.5px;
        margin-left: 155px;
        margin-top: -28px;
        border: 1px solid #601D90;
    }

    .conocenos {
        margin-left: 10px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 51px;
        color: #00006F;
    }

    .texto {
        margin-left: 10px;
        margin-right: 30px;
        top: 179px;
        bottom: 78.58%;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 23px;
        color: #000000;
        text-align: justify
    }

    #servicios .card{
        width: 246px;
        height: 230px;
        border: 1px solid #AA75D0;
    }

    #servicios .card .card-body .card-title{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #601D90;
    }
    
    #servicios .card .card-body .card-subtitle{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #00006F;
    }
    
    #servicios .card .card-body img{
      position: absolute;
      bottom: 15px;
      right: 15px;
    }

    .lineBeneficio{
        width: 78.5px;
        margin-left: 165px;
        margin-top: -28px;
        border: 1px solid #601D90;
    }

    #beneficio{
        margin-top: 25px;
    }

    .sistema{
        padding: 36px 142px 36px 64px;    
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;    
        color: #00006F;
    }
    
    .sistema li{
        padding-bottom: 10px;
    }

    .lineResponsive{
        width: 78.5px;
        margin-left: 190px;
        margin-top: -28px;
        border: 1px solid #601D90;    
    }

    #modulo .card{
        background: #FCFBFF;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.03);
        width: 85%;
        margin-top: 30px;        
    }

    .puntoAdquirir{
        width: 5px;
        height: 5px;
        margin-left: 50px;
        margin-top: 40px;
        background: #ffffff;
    }

    .adquirir{
        margin-left: 65px;
        margin-top: -31px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.22em;
        color: #AA75D0;
    }

    .lineAdquirir{
        width: 78.5px;
        margin-left: 175px;
        margin-top: -28px;
        border: 1px solid #AA75D0;    
    }

    .howAdquirir {
        margin-left: 50px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 51px;
        color: #ffffff;
    }
    
    #modificarpadding{
        padding: 54px 59px 43px 59px;
    }

    .textAdquirir{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    .lineContacto{
        width: 78.5px;
        margin-left: 190px;
        margin-top: -28px;
        border: 1px solid #AA75D0;    
    }

    #modiContacto {
        margin-top: 50px;
    }

    .redes {
        width: 100px;
         height: 100px;
         -moz-border-radius: 50%;
         -webkit-border-radius: 50%;
         border-radius: 50%;
        background: linear-gradient(259.91deg, #00006F -25.41%, #601D90 86.41%);
        box-shadow: 0px 9px 24px rgba(57, 26, 16, 0.13);
    }

    #linkedin{
        position: absolute;
        left: 54%;
        top: -30px
    }
    
    #facebook{
        position: absolute;
        left: 42%;
        top: -30px
    }
    
    #modulo .card .card-header .nav .nav-item{
        border: 1px solid rgba(125, 47, 181, 0.3);
        min-width: 16.66%; 
        color: #00006F;
    }  

    .carousel .carousel-inner .carousel-item img{
        width: 100%;
        height: 439px;
    }
   
}